:root {
    font-family: Figtree, serif;
}

progress,
.htmx-swapping {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.htmx-request {
    opacity: 1;
}

form [role="alert"] {
    color: var(--del-color);
}
